apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "udb-api.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "udb-api.name" . }}
    helm.sh/chart: {{ include "udb-api.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "udb-api.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "udb-api.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: udb-api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          {{- range $k, $v in .Values.env }}
            - name: {{ $k }}
              value: "{{ $v }}"
          {{- end }}
          ports:
            - containerPort: 8000
          volumeMounts:
            - name: data
              mountPath: /data
            - name: artifacts
              mountPath: /artifacts
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "udb-api.fullname" . }}-data
        - name: artifacts
          persistentVolumeClaim:
            claimName: {{ include "udb-api.fullname" . }}-artifacts
